<div class="container-flued">
  <div class="card bg-dark text-white">
    <img
      class="card-img footer"
      src="./../../../assets/images/footer.webp"
      alt="Card image"
    />
    <div class="card-img-overlay">
      <h5 class="card-title text-center">New Movies And Tv</h5>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Architecto beatae magnam
        dolor dolorum non ducimus? Cum minima, dignissimos inventore nemo,
        ratione natus ipsa exercitationem iusto vitae, voluptatem ducimus
        debitis blanditiis!
      </p>
      <p class="card-text text-center fs-10">
        <a href="https://www.facebook.com/hassan.sabry.5/" title="facebook">
          <i class="fab mx-2 fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/hassansabry0/" title="instagram">
          <i class="fab mx-2 fa-instagram"></i>
        </a>
        <a
          href="https://open.spotify.com/user/31tgtbr6firb3gionlf4zt45zwj4"
          title="spotify"
        >
          <i class="fab mx-2 fa-spotify"></i>
        </a>
        <a href="https://soundcloud.com/hassan-sabry-5" title="soundcloud">
          <i class="fab mx-2 fa-soundcloud"></i>
        </a>
      </p>
    </div>
  </div>
</div>
